/*
 * Code King Softwares e Web Sites
 * Author: Leonardo Barney
 * Stylesheet PopUp
 */

/* Frame************************************************************************************/
	.frame{
	    -fx-background-color: rgba(35, 35, 35, 0.65);
		-fx-background-radius: 15;
		-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.6, -2.0, 2.0);
	}

/*Label*********************************************************************************/

.label{
		-fx-text-fill: white;
}

	.label#bg{
			-fx-text-fill: white;
			-fx-font-size: 13;
	}

	.label#tipo{
			-fx-text-fill: white;
			-fx-font-size: 17;
	}

/*Button************************************************************************************/

.button{
	-fx-padding: 7.0 12.0 7.0 12.0;
	-fx-background-insets: 0.0,9.0 9.0 8.0 9.0,9.0,10.0,11.0;
	-fx-background-radius: 7.5;
	-fx-background-color: transparent;
	-fx-text-fill: #e8e8e8;
	-fx-border-width: 3.5;
	-fx-border-color: rgba(255, 255, 255, 0.1);
	-fx-border-radius: 7.5;
	-fx-cursor: hand;
}

.button:hover {
	-fx-border-color: rgba(255, 255, 255, 0.2);
	-fx-background-radius: 7.5;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: #323232;
	-fx-effect: dropshadow( three-pass-box , transparent , 5.0, 0.0 , 0.0 , 1.0 );
}

.button:disabled, .button:default:disabled {
	-fx-opacity: 0.4;
	-fx-background-color: #1d1d1d;
	-fx-text-fill: white;
}

.button:default {
	-fx-background-color: -fx-focus-color;
	-fx-text-fill: #ffffff;
}

.button:default:hover {
	-fx-background-color: derive(-fx-focus-color,30.0%);
}


/*Control-Button************************************************************************************/

	.ControlButton{
		-fx-background-color: transparent;
		-fx-text-fill: #585858;
		-fx-border-color: transparent;
		-fx-border-width: 2;
		-fx-border-radius: 30;
		-fx-padding: 2;
}

		.ControlButton:hover{
			-fx-background-color: transparent;
			-fx-border-color: #585858;
			-fx-cursor: hand;
		}

		.ControlButton#Fechar:pressed, .ControlButton#Fechar default:hover:pressed{
		 -fx-border-width: 2.0;
		 -fx-border-color: #9c3030;
		 -fx-text-fill: #666666;
}

/*AfRegion************************************************************************************/

.AfRegion {
    -fx-background-color: rgba(50, 50, 50, 0.2);
		-fx-background-radius: 15;
		-fx-border-color: rgba(100, 100, 100, 0.2);
    -fx-border-width: 3 ;
    -fx-border-style: segments(10, 10, 10, 10)  line-cap round;
		-fx-border-radius: 15;
}